/* Reset Styles
https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --main-bg-color: #f9e0e2;
  --main-text-color: #352224;
  --secondary-text-color:#a52a2a;
  --super-big-h-size:9em;
  --normal-h-size:52px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
  }

html, body {
    height: 100%;
    color: var(--main-bg-color);
  }

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
  }

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-text-color);
}

p {
  color: var(--main-text-color);
  font-size: 18px;
}
ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}
 
#root, #__next {
    isolation: isolate;
  }

/* General Styles */

@font-face {
  font-family: 'Visby CF';
  src: url('../fonts/VisbyCF-Medium.eot');
  src: local('Visby CF Medium'), local('VisbyCF-Medium'),
      url('../fonts/VisbyCF-Medium.eot') format('embedded-opentype'),
      url('../fonts/VisbyCF-Medium.woff2') format('woff2'),
      url('../fonts/VisbyCF-Medium.woff') format('woff'),
      url('../fonts/VisbyCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Visby CF';
  src: url('VisbyCF-Bold.eot');
  src: local('Visby CF Bold'), local('VisbyCF-Bold'),
      url('../fonts/VisbyCF-Bold.eot') format('embedded-opentype'),
      url('../fonts/VisbyCF-Bold.woff2') format('woff2'),
      url('../fonts/VisbyCF-Bold.woff') format('woff'),
      url('../fonts/VisbyCF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/* loader styles */

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background:var(--secondary-text-color);
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding-bottom: 89px;
  text-align: center
}

#loader-wrapper .logo {
  width: 150px;
  margin: 0 auto;
}
#loader-wrapper p {
  color: var(--main-bg-color);
}
#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

.no-js #loader-wrapper {
  display: none;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper {
  visibility: hidden;
  position: absolute;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}
/* loader styles */

html,
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Visby CF';
  background-color: var(--main-bg-color);
}

header {
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

header img {
  max-width: 80px;
  margin: 0 auto;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  overflow: hidden;
}

.fullpage {
  height: 100vh;
  width: 100vw;
}

#hero {
  position: relative;
  display: flex;
}

#hero video {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }

#hero .overlay {
    position: absolute;
    background: rgba(249, 224, 226, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

#hero .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding-bottom: 89px;
    text-align: center;
    z-index: 3;
} 

#hero .intro .container {
  max-width: 500px;
}

#hero h1{
  font-family: 'Visby CF', sans-serif;
  font-weight: normal;
  color: var(--secondary-text-color);
}

h1.normal {
  font-size:var(--normal-h-size);
  line-height: 1em;
}

h1.big {
  font-size: 9em;
  line-height: 1em;
  color:var(--secondary-text-color)!important;
  margin-top: -20px;
  margin-bottom: 10px;
}

#hero p{
  margin-top: 20px;
}

.cta_button {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-family: Visby CF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 32px;
  transition: all 1s ease;
  border: 0;
  background-color: var(--secondary-text-color);
  color: var(--main-bg-color);
}
.cta_button .arrows_btn {
  cursor: pointer;
  overflow: hidden;
  display: block;
  max-width: 32px;
}

.cta_button .icons {
  position: relative;
  display: flex;
  left: -100%;
  width: 350%;
  height: 30px;
  transition: .3s ease-in-out;
}

.cta_button:hover .icons {
  transform: translateX(30%);
}

#hero .Locations {
  max-width: 1100px;
}

#hero .Locations .container{
  display: flex;
  justify-content: space-around;;
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding-bottom: 3rem;
  z-index: 5;
}


.location .project,.location .country, .location a  {
  display: block;
}

#hero .Locations .project{
  font-size: 14px;
}

.Locations .location {
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid var(--secondary-text-color);
  padding-bottom: 5px;
}

.location a:hover .icon-arrow {
  transform: translate(3px, -3px);
  transition: all 0.2s ease-in-out;
}

#hero .Locations img{
  max-width: 10px;
  float: left;
  padding-top: 5px;
  margin-right: 5px;
}

.icon-arrow {
  position: absolute;
  overflow: hidden;
  margin-left: 4px;
  top: 26px;
  right: 0;
}

#features {
  background: var(--main-bg-color);
  padding-top: 30px;
  position: relative;
  z-index: 10;
}

#features .section_two_col{
  width: 98%;
  margin: auto;
  position: relative;
}

.feature .container {
  width: 50%;
}

.feature h2 {
  color:var(--secondary-text-color);
  font-size: var(--normal-h-size);
  font-weight: 400;
  line-height: 1em;
}

.feature p {
  color:var(--main-text-color)
}

.feature .key{
  color:var(--main-bg-color);
  font-size: 12px;
  margin-top: 10px;
}

.feature p {
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 2em;
}

.feature .cta_button {
  background: var(--main-text-color);
}

.section .feat-container .text-container {
  padding: 2em ;
}

.section .keys {
  margin-top: 30px;
  display: flex;
}

.keys img {
  width: 50px;
  margin: 0 auto;
}

.keys .item {
  padding: 1em;
  justify-items: center;
  background: var(--secondary-text-color);
  margin-right: 20px;
}

.gallery {
  display: flex;
  padding-bottom: 7rem;
}

#contact {
  background-color: var(--main-text-color);
  position: fixed;
  clear: both;
  width: 100%;
  height: 400px;
  bottom: 0;
}
#contact .container {
  padding-top: 50px;
}

#contact a{
  color:var(--main-bg-color);
}

.relative {
  position: relative;
}
.centered {
  margin: 0 auto;
}
.row {
  display: flex;
}
.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.pr {
  padding-right: 1rem;
}
.pl {
  padding-left: 1rem;
}

.mt_30{
  margin-top: 30px;
}

.pb_60{
  padding-bottom: 60px;
}

.b_120 {
  bottom: -120px;
}

.full {
  width:100%;
}
.md-w-1-2 {
  width: 50%;
}

.md-w-2-3 {
  width: 66.666667%;
}

.md-w-1-3 {
  width: 33.333333%;
}

.md-w-1-5{
  width: 20%;
}
.md-w-2-5{
  width: 40%;
}

@media screen and (max-width: 800px){
  
  #hero .intro .container {
    display: flex;
    flex-flow: column;
  }

  #hero .intro {
    padding-bottom: 40px;
    padding-left: 1em;
    padding-right: 1em;
  }

  h1.normal {
    font-size: 3em;
    line-height: 1em;
  }

  h1.big {
      font-size: 6em;
      margin-top: 0px;

  }
  #hero .Locations{
    display: none;
  }
  #hero p {
    font-size: 16px;
  }
  .feature {
    flex-direction: column;
  }
  .feature .container {
    width: 100%;
 }
 .keys .item {
  padding: 10px
 }
 #features .section_two_col { 
  padding: 0;
  width: 94%;
 }
 .row {
  flex-direction: column;
 }
 .feature .gallery {
  display: none;
 }

 #contact {
  position: relative;
 }

}